@media screen and (min-width: 991px) {

    html, body{
        width:100%;
        height:100%;
    }

    ul li {
        display: inline-block;
        padding: 0 10px;
    }

    ul li:last-child {
        padding: 0 0;
    }

    ul li:nth-last-child(2) {
        padding-right: 0px;
    }

    ul li.line-separator {
        border-right: 1px solid rgb(255, 255, 255);
        padding-left: 10px;
    }
}

html, body{
    width:100%;
    height:100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 350%;
}

.bg {
    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background: url("../img/event-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo {
    width: 10%;
    height: 10%;
}

/*################ FOR DEBUGGING ################*/
/* .container {
    border: solid 1px #ff0000;
    zoom: 1; 
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
} */
/*################ FOR DEBUGGING ################*/

.cust-nav {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#contact, #signup, #login {
    color: white;
}

/* ref: https://codepen.io/nxworld/pen/OyRrGy */
section {
    position: relative;
    width: 100%;
    height: 100%;
}
  
section::after {
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

#section-myform {
    width: 100%;
    height: 100%;
    padding-top: 55px;
}

/* SIGNUP FORM SECTION ##### 
    ref: https://bootsnipp.com/snippets/z8699 ##### 
    ref: https://www.tutorialrepublic.com/snippets/preview.php?topic=bootstrap&file=sign-up-form-with-rounded-social-buttons
    */
.social-btn .btn {
    color: #fff;
    margin: 0 0 0 15px;
    font-size: 15px;
    border-radius: 50px;
    font-weight: normal;
    border: none;
    transition: all 0.4s;
}	
.social-btn .btn:first-child {
    margin-left: 0;
}
.social-btn .btn:hover, #btn-signup, #btn-login {
    opacity: 0.8;
}
.social-btn .btn-primary {
    background: #507cc0;
}
.social-btn .btn-info {
    background: #64ccf1;
}
.social-btn .btn-danger {
    background: #df4930;
}
.social-btn .btn i {
    float: left;
    margin: 2px 8px;
    font-size: 22px;
}

#btn-signup, #btn-login {
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    font-weight: normal;
    border: none;
    transition: all 0.4s;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
.text-hint {
    font-weight: lighter;
}


/* FOOTER SECTION ##### ref: https://bootsnipp.com/snippets/rlXdE */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#section-footer {
    background: linear-gradient(to bottom, #b2a195 0%, #7f7a77 100%) center center / cover no-repeat;
    height: 100%;
}

section#section-footer {
    padding: 110px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#section-footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:black;
}
#section-footer h5.first{
    border-left: 0px;
}
#section-footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#section-footer ul.social li{
	padding: 3px 0;
}
#section-footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#section-footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#section-footer ul.social li a,
#section-footer ul.quick-links li a{
	color:#ffffff;
}
#section-footer ul.social li a:hover{
	color:#eeeeee;
}
#section-footer ul.quick-links li{
    display: block;
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#section-footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#section-footer ul.quick-links li a i{
	margin-right: 5px;
}
#section-footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.row-social {
    margin-top: 78px;
}

.copyright {
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
}

@media (max-width:767px){
	#section-footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}